{% extends "base.html" %}
{% block main_content %}
{% load staticfiles%}

<div class="chat_left">             
     <div class="menu_box">
         <h3>Direct message</h3>
           <div class="menu_box_list">
                <ul>
                    {% for admin in  admins %}
                      {% if admin.active_flag %}
                        <li><a href="#"><span><div id="circle-online"></div>{{ admin.user }}</span><label class="digits">0</label><div class="clear"></div></a></li>
                      {% else %}
                        <li><a href="#"><span><div id="circle-idle"></div>{{ admin.user }}</span><label class="digits">0</label><div class="clear"></div></a></li>
                      {% endif %}
                    {% endfor %}
                    {% for employee in  employees %}
                      {% if employee.active_flag %}
                        <li><a href="#"><span><div id="circle-online"></div>{{ employee.user }}</span><label class="digits">0</label><div class="clear"></div></a></li>
                      {% else %}
                        <li><a href="#"><span><div id="circle-idle"></div>{{ employee.user }}</span><label class="digits">0</label><div class="clear"></div></a></li>
                      {% endif %}
                    {% endfor %}      
                </ul>
          </div>
     </div>
                
</div> 
	<div class="column_middle">
	   <form action="" method="POST" id="chatbox">
         <div id="chatbody" class="chatbody">
         </div>
	       <textarea name="message_body" id="message_body" cols="70" rows="2"></textarea>
	   </form>        
	</div> 
<script type="text/javascript">
          $(document).ready(function(){
            ws = new WebSocket("ws://192.168.0.18:8888");
            /*ws.onmessage_body = function(evt) {alert("message received: " + evt.data)};*/
            ws.onclose = function(evt) { alert("Connection close"); };
            ws.onopen = function(evt) { 
              $("#message_body").keypress(function (evt) {
              if(evt.which == 13) {
                var message_body = $("#message_body").val();
                var sender = "{{ user.get_username }}"
                $("#message_body").val('');
                evt.preventDefault();
                $("#chatbody").append("<p>"+sender+': '+message_body+"</p>");
                
                var data = {'message_body':message_body, 'sender':sender};
                ws.send(JSON.stringify(data));
            };
          });
          };
        });

</script>
{% endblock %}