{% extends "base.html" %}
{% block main_content %}
{% load staticfiles%}
<div class="column_left">             
     <div class="menu_box">
         <h3>Menu Box</h3>
           <div class="menu_box_list">
                <ul>
                    <li><a href="#" class="messages"><span>Messages</span><label class="digits">24</label><div class="clear"></div></a></li>
                    <li class="active"><a href="#" class="invites"><span>Invites</span><label class="digits active">3</label><div class="clear"></div></a></li>
                    <li><a href="#" class="events"><span>Events</span><label class="digits">5</label><div class="clear"></div></a></li>
                    <li><a href="#" class="account_settings"><span>Account Settings</span></a></li>
                    <li><a href="#" class="statistics"><span>Statistics</span></a></li>                         
                </ul>
          </div>
     </div>
                
</div> 
	<div class="column_middle">
	   <form action="" method="POST" id="chatbox">
         <div id="chatbody" class="chatbody">
         </div>
	       <textarea name="message" placeholder="type here..." id="message"></textarea>
	   </form>        
	</div> 
<script type="text/javascript">
          $(document).ready(function(){
            ws = new WebSocket("ws://192.168.0.18:8888");
            /*ws.onmessage = function(evt) {alert("message received: " + evt.data)};*/
            ws.onclose = function(evt) { alert("Connection close"); };
            ws.onopen = function(evt) { 
              $("#message").keypress(function (evt) {
              if(evt.which == 13) {
                var message = $("#message").val();
                var sender = "{{ user.get_username }}"
                $("#message").val('');
                evt.preventDefault();
                $("#chatbody").append("<p>"+sender+': '+message+"</p>");
                
                var data = {'message':message, 'sender':sender};
                ws.send(JSON.stringify(data));
            };
          });
          };
        });

</script>
{% endblock %}